html, body, #root, .listOccurrancy  {

    height: 100vh;
 }

 .occurrancyContext {

    height: 70vh;
 }

 /* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
::-webkit-scrollbar-track {
   background: #67e8f9;
 }
  
 /* Handle */
::-webkit-scrollbar-thumb {
   background: #0891b2; 
 }
 
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #164e63; 
 }