html, body, #root, .listOccurrence  {

    height: 100vh;
 }

 .occurrenceContext {

    height: 70vh;
 }

 /* width */
::-webkit-scrollbar {
   width: 10px;
 }

 /* Track */
::-webkit-scrollbar-track {
   background: #67e8f9;
 }

 /* Handle */
::-webkit-scrollbar-thumb {
   background: #0891b2;
 }

 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #164e63;
 }
